path{
  stroke-width: 2;
}
circle{
	fill: #FF6600;
	
}

svg{
	margin: 0 auto;
	display: block;
}

body, svg{
	background: #EEEEEE;
	color:  #192037;
}
text{
	fill: black;
    font-family: "Trebuchet MS", ​Arial,​sans-serif;
    font-size: 1em;
    font-weight: 600;	
    position: absolute;
}